<h2>All Appointments</h2>
<% @appointments.each do |appt| %>
  <p><%= link_to "#{appt.location} - #{appt.time}", appointment_path(appt) %></p>
<% end %>
<div><%= link_to "New", create_appointment_path(@appointment) %></div>